.App {
  text-align: center;
  background-color: lightblue;
  height: 100vh;
}

.App-Title {
  color: #ffee68;
  font-size: 2.5em;
}

.resultsContainer {
  border: 1px solid blue;
}

ul {
  list-style: none;
}

/* 
colors:
  purple: #C7ABED
  yellow: #FFEE68
  green: #37FFAE
  blue: #00EAF5
  pink: #FF7E8A


*/
